* {
    box-sizing: border-box;
}

.container {
    max-width: 500px;
}

#display {
    background: lightgreen;
    height: 100px;
    width: 300px;
    margin-right: 95px;
    float: right;
}

.button {
    background: lightgreen;
    width: 100px;
    height: 100px;
    font-size: 32px;
    border: 1px solid lightgrey;
    display: inline-block;
}
